.venv
vscode
__pycache__/ship.cpython-312.pyc
__pycache__/settings.cpython-312.pyc
.gitignore
__pycache__/bullet.cpython-312.pyc
__pycache__/arsenal.cpython-312.pyc
.gitignore
__pycache__/alien.cpython-312.pyc
__pycache__/alien_fleet.cpython-312.pyc
__pycache__/game_stats.cpython-312.pyc
__pycache__/button.cpython-312.pyc
alien_invasion.py
